.container_cotizacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cot, .container_table_cotizar {
    background-color: white;
    width: 90%;
    border-radius: 63px;
}

.container_formulario_cot {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_cot {
    width: 90%;
}

.section_cot {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.table_cotizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_table_cotizar .p-column-header-content {
    padding: 10px;
    text-align: center;
}

.formulario_cot .sectiones {
    margin-top: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 1777px) {
    .section {
        margin-top: 8px;
    }
}

@media screen and (max-width: 592px) {
    .section input {
        width: 100% !important;
    }
}