.productos_com {
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
}

.container_productos_principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.botones_scanner {
    /* border: 1px solid black; */
    justify-content: center;
}


/* RESPONSIVE */

@media screen and (max-width: 688px) {
    .productos_com {
        margin-left: 20px;
        margin-right: 20px;
    }
}