.table_reserva {
    border-radius: 30px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.table_reserva .p-treetable-header {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.table_reserva th {
    background-color: transparent;
    border-color: blue;
    /* border: 1px solid black; */
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.table_reserva td {
    text-align: center;
}

.table_reserva .p-icon-field-left {
    /* padding: 8px; */
}

.table_reserva .p-inputtext {
    height: 2rem;
    padding: 10px 30px;
}

.table_reserva .p-input-icon {
    margin-top: -6px;
}

.p-filter-column {
    display: none;
}

.btn-ver-calendario {
    background-color: transparent;
    color: rgb(151, 151, 151);
    border: none;
}

.btn-ver-detalle {
    background-color: transparent;
    color: blue;
    border: none;
}